
.accordion-container {
  width: 80vw;
  margin: 0 auto;
}

.menu-button {
  width: 100%;
  padding: 10px 20px;
  margin-top: 4px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: #ffddaa;
  cursor: pointer;
  border-radius: 4px;
  border: solid 3px #ffd7aa;
  outline: none;
}
.menu-button:focus {
  outline: none; 
}
.menu-button:hover {
  background-color: #ffffff;
  
}

.icon {
  font-size: 26px;
  transition: 0.4s;
}

.menu-button.open .icon {
  transform: rotate(45deg);
}

.content {
  font-size: 16px;
  padding: 0 26px;
  background-color: #ffffff;
  transition: 0.4s;
  overflow: hidden;
}
